body {
    background-color: #f4f4f4;
    position: relative;
}

.header, .footer {
    background-color: #e6cc8c;
    padding: 10px 20px;
    align-items: center;
}

.header input[type="text"] {
    border-radius: 5px 0 0 5px;
}

.header .btn {
    border-radius: 0 5px 5px 0;
}

.login-card {
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 500px;
    height: auto;
}

.footer {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    align-items: center;
    height: 100px;
}

.footer .col {
    text-align: center;
}

.login-btn {
    background-color: #ccc;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.075) !important;
    letter-spacing: 4px;
    width: 50%;
    text-decoration: underline;
}


.login-card label {
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
}


/*webpages css*/

#profile_dropdown {
    color: black;
    letter-spacing: 2px;
    border-radius: 5px;
}

#profile_dropdown[aria-expanded="true"], #profile_dropdown:hover {
    background-color: #a79465;
    color: black;
}