body {
    background-color: #f4f4f4;
    position: relative;
}

.header, .footer {
    background-color: #e6cc8c;
    padding: 10px 20px;
    align-items: center;
}

.header input[type="text"] {
    border-radius: 5px 0 0 5px;
}

.header .btn {
    border-radius: 0 5px 5px 0;
}

.notification-badge {
    position: absolute;
    top: 0px;
    right: 3px;
    background-color: red;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    z-index: 10;
}

.login-card {
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 500px;
    height: auto;
}

.footer {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    align-items: center;
    height: 100px;
}

.footer .col {
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}

.login-btn {
    background-color: #ccc;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.075) !important;
    letter-spacing: 3px;
    width: 35%;
    height: 3rem;
    text-decoration: none;
    margin-bottom: 20px;
}

.login-card label {
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
}

.login-card p.mt-2.mb-0 a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.search-button .search-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #333;
}

/*webpages css*/

#profile_dropdown {
    color: black;
    background-color: #fff;
    letter-spacing: 2px;
    border-radius: 5px;
}

#profile_dropdown[aria-expanded="true"], #profile_dropdown:hover {
    background-color: #b8a36c;
    color: black;
}

.nav-icons {
    align-items: center;
}

.nav-icon {
    background: transparent;
    border: none;
    padding: 0.5rem;
    /* breathing room */
}

.nav-icon svg {
    width: 2.5rem;
    /* 40px */
    height: 1.8rem;
    stroke: #fff;
    stroke-width: 1.5;
    /* fine lines */
    fill: none;
    /* these icons are stroke-only */
    display: block;
}



/* notif bar po up */

.dropdown-menu {
    max-height: 400px;

    overflow-y: auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

}



.notification_card {
    padding: 30px 0;
    border-bottom: 1px solid #f1f1f1;
    gap: 20px;
}

.notification_card:last-child {
    border-bottom: none;
}

.notification_message {
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-width: 0;
    word-break: break-word;
}

.notification_card>.d-flex.flex-column.flex-grow-1 {
    min-width: 0;
}

.navButton {
    border: 1px solid black;
    border-radius: 5px;
    font-weight: lighter;
}