html {
    overflow-y: scroll !important;
    scrollbar-gutter: stable;
  }
  

  body.modal-open {
    overflow: hidden !important;
    padding-right: 0 !important;
  }
  
  html.modal-open {
    overflow-y: scroll !important;
  }